.page-footer {
  background-color: $palette-secondary;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 27px;

  text-align: center;
}

.page-footer__logo-link[href] {
  &:hover img {
    opacity: 0.8;
  }

  &:active img {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    padding: 58px 0;
  }

  .page-footer__logo {
    flex: none;
    width: 190px;
    padding: 0;
    padding-top: 4px;

    text-align: left;
  }

  .page-footer__copyright {
    flex: none;
    width: 190px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    padding-top: 58px;
    padding-bottom: 56px;
  }
}
